<h2>
  Users
</h2>
<button type="button" {{on "click" this.fetchUsers}}>
  Fetch users!
</button>
{{#if this.users}}
  <h3>
    List of users
  </h3>
  <ul>
    {{#each this.users as |user|}}
      <li>
        <div>
          {{concat user.username ", " user.email}}
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}