<LinkTo @route="index">Index</LinkTo>
<LinkTo @route="protected">Internal</LinkTo>
{{#if this.session.isAuthenticated}}
  <LinkTo @route="protected.profile">Profile (401 handling demo)</LinkTo>
  <LinkTo @route="protected.users">Users</LinkTo>
  <a href="#" {{on "click" this.logout}}>Logout</a>
{{else}}
  <LinkTo @route="login">Login</LinkTo>
{{/if}}

{{outlet}}
